.jk-banner-promotion {overflow:hidden; z-index:1000; position:relative; width:100%; height:62px; text-align:center;}
.jk-banner-promotion .link {display:block; position:relative; width:100%; height:62px;}
.jk-banner-promotion .link img {width:320px; height:62px;}
.jk-banner-promotion .button-close {z-index:10; overflow:hidden; display:block; position:absolute; left:5px; top:50%; width:24px; height:24px; padding-top:24px; -webkit-transform:translateY(-12px); transform:translateY(-12px);}
.jk-banner-promotion .button-close::before {content:''; display:block; position:absolute; left:50%; top:50%; width:12px; height:12px; background:url('/content/images/m/banner/btn_close02.png') no-repeat; background-size:12px 12px; -webkit-transform:translate(-6px, -6px); transform:translate(-6px, -6px);}
/* 2023 공채레이스 배너 스타일 */
.raceBanner{width: 100%; height: 99px; background-color: #3E2EFF; display: flex; align-items: center; justify-content: center; margin: 10px 0;}
.raceBanner .container{position: relative;}
.raceBanner .container .img{width: 100%; height: 99px;}
.raceBanner .container img{ max-width: 375px; height: 100%;}
.raceBanner .container ul{position: absolute; top: 43px; left: 36px; display: flex; justify-content: space-between; align-items: center;}
.raceBanner .container ul li{margin-right: 10px;}
.raceBanner .container ul li:last-child{margin-right: 0;}
.raceBanner .container ul li a{display: block; font-size: 0; background-size: 100%; background-position: center; box-sizing: border-box;transition: all 300ms; background-repeat: no-repeat; width: 94px; height: 40px;}
.raceBanner .container ul li a.icon01{background-image: url('/content/images/m/banner/2023_race/m_icon01.png');}
.raceBanner .container ul li a.icon02{background-image: url('/content/images/m/banner/2023_race/m_icon02.png');}
.raceBanner .container ul li a.icon03{background-image: url('/content/images/m/banner/2023_race/m_icon03.png'); }
@media (max-width:320px) {.jk-banner-promotion .link img {position:absolute; left:50%; top:50%; width:280px; height:auto; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
}
