*{font-family:Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif!important}
@font-face{font-family:Pretendard;font-weight:400;font-display:swap;src:local("Pretendard Regular"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff-subset/Pretendard-Regular.subset.woff) format("woff")}
@font-face{font-family:Pretendard;font-weight:600;font-display:swap;src:local("Pretendard SemiBold"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff-subset/Pretendard-SemiBold.subset.woff) format("woff")}
@font-face{font-family:Pretendard;font-weight:700;font-display:swap;src:local("Pretendard Bold"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"),url(https://i.jobkorea.kr/content/webfont/pretendard/woff-subset/Pretendard-Bold.subset.woff) format("woff")}

html {-webkit-text-size-adjust:none;width:100%;}
.ua_an .wingMenuActive #scC,
.ua_an .wingSearchActive #scC {-webkit-tap-highlight-color:rgba(0,0,0,0);}
*{margin:0; padding:0;}
body {color:#666;font-size: 14px;}
body {background:#e9ecef;}
input, select, textarea, button {font-size:inherit; line-height:inherit;}
button{border:0}
img, fieldset {border:0 none;}
img, textarea {vertical-align:top;}
input, select, label {vertical-align:middle;}
ul, ol {list-style:none;}
address, em, i {font-style:normal; font-weight:normal;}
strong, b {font-weight:bold;}
h1, h2, h3, h4, h5 {font-size:1em; font-weight:bold;}
hr {display:none;}
header, footer, nav, section, article {display:block;}
legend {position:absolute; left:-9999px;}
table {border-collapse:collapse;}
a {color:inherit; text-decoration:none;}
input,
textarea,
select {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none;}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
textarea {border-radius:2px; -webkit-box-sizing:border-box; min-height:40px; border:1px solid #aeb3ba; padding:0 8px;font-size: 14px; -webkit-text-size-adjust:none;}
textarea {padding:8px;}
li{list-style:none}
input[type="checkbox"],
input[type="radio"] {margin:0; border:1px solid #999;}
input[type="radio"] {border-radius:8px; -webkit-appearance:radio;}
input[type="checkbox"] {border-radius:4px; -webkit-appearance:checkbox;}
input:checked[type="checkbox"],
input:checked[type="radio"] {background-color:#2d2d2d; border:0;}
input::-webkit-input-placeholder {color:#999;font-size: 14px;}
select {-webkit-box-sizing:border-box; border:1px solid #c0c3ca; border-radius:2px; padding:2px 30px 1px 7px; min-height:32px;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}
.skip,
.blind{position:absolute;overflow:hidden;font-size:0;height:0;width:0;line-height:0;opacity:0;visibility:hidden;z-index:-10}
button {cursor:pointer; border:0; color:#666; background-color:transparent;-webkit-appearance:none;}
.w_disabled{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.7);left:0;top:0;z-index:110}
/* common sprite image */
select,
.ipCustomUI {background:url(https://i.jobkorea.kr/content/images/m/ver_1/bg_form_sprite_v1.png) no-repeat 0 0; background-size:100px 200px;}
/* custom checkbox, radio UI */
.ipCustomUI {cursor:pointer; width:17px; height:17px; display:inline-block; vertical-align:middle; margin-top:-1px;}
.ipCustomUI_checkbox {background-position:0 -184px;}
.ipCustomUI_checkbox.ipCustomUI_checked {background-position:-17px -184px;}
#coMng .ipCustomUI_checkbox.ipCustomUI_checked {background-position:-17px -184px;}
.ipCustomUI_checkbox.ipCustomUI_disabled {background-position:0 -184px;}
.ipCustomUI_checkbox.ipCustomUI_checked.ipCustomUI_disabled {background-position:-34px -184px;}
.ipCustomUI_radio {background-position-y:-164px;}
.ipCustomUI_radio.ipCustomUI_checked {background-position:-17px -164px;}
.ipCustomUI_radio.ipCustomUI_disabled {background-position:-34px -164px;}
.ipCustomUI_radio.ipCustomUI_checked.ipCustomUI_disabled {background-position-y:-164px;}
.ipCustomItem input[type=radio],
.ipCustomItem input[type=checkbox] {position:absolute !important; top:auto !important; left:-9999px !important;}
#wrap {background: #e9ecef;height: 100%;}
#content {margin-bottom:30px;}
#topArea {background-color:#3399ff;}
/* gnb */
#gnd{height:51px;background:#3399ff;position:relative;}
#gnd .prev{display:inline-block;position:absolute;left:16px;top:17px;width:10px;height:18px;background:url(/content/images/m/gib/sp_recruit.png) 0 -33px no-repeat; background-size:150px 250px}
#gnd .prev button{display:inline-block;width:30px;height:36px;margin:-10px}
#gnd .prev + h2{color:#fff;padding-top:15px;padding-left:39px;font-size:1.357em}
#gnd #menuBtn{display:inline-block;position:absolute;left:15px;top:18px;width:21px;height:14px;background:url(/content/images/m/gib/sp_mobile_jk.png) -25px 0 no-repeat; background-size:169px 121px}
#gnd #menuBtn a{display:inline-block;width:42px;height:42px;position:absolute;left:-11PX;top:-11px}
#gnd .h_title{text-align:center;height:51px;line-height:51px}
#gnd .h_title h1{display:inline-block;position:relative;width:120px;height:18px;background:url(/content/images/m/gib/sp_mobile_jk.png) -49px 0 no-repeat; background-size:169px 121px;vertical-align:middle}
#gnd .h_title h1 a{display:inline-block;position:absolute;left:0;top:9px;width:120px;height:36px;margin-top:-18px}
#gnd .h_title h2{display:inline-block;vertical-align:middle;line-height:18px}
#gnd .h_title h2.my_menu a{display:inline-block;color:#d2f3ff;font-size:1.286em;font-weight:bold;vertical-align:top}
#gnd #rgt_option{display:inline-block;position:absolute;right:16px;top:15px;}
#gnd #rgt_option span{display:inline-block;float:right;position:relative;background:url(/content/images/m/gib/sp_mobile_jk.png) -9999px -9999px no-repeat; margin-right:12px;background-size:169px 121px;}
#gnd #rgt_option span:first-child{margin-right:0}
#gnd #rgt_option span button{display:inline-block;position:absolute;background:none;cursor:pointer}
#gnd #rgt_option #btn_alarm{width:20px;height:20px;background-position:-25px -37px}
#gnd #rgt_option #btn_alarm button{width:30px;height:30px;left:-5px;top:-4px}
#gnd #rgt_option #btn_srch{width:18px;height:20px;background-position:-25px -16px }
#gnd #rgt_option #btn_srch button{width:30px;height:30px;left:-5px;top:-4px}
#gnd #rgt_option .i_new{display:inline-block;position:absolute;width:13px;height:13px;right:-2px;top:-5px;background:url(/content/images/m/gib/sp_mobile_jk.png) 0 0 no-repeat; background-size:169px 121px }
/* 메인 검색 영역 */
.mainSchBtn {padding:1px 10px 5px; background-color:#3399ff; box-sizing:border-box;}
.mainSchBtn input {height:36px; min-height:36px; border:none; border-radius:0; width:100%; background-color:#fff; position:relative; font-size:1.286em; color:#000; text-align:left; padding-left:8px; vertical-align:middle;}
.mainSchBtn input:after {content:""; display:block; width:31px; height:36px; position:absolute; right:0; top:0; background:url(http://m.jobkorea.co.kr/images/bg_gnb_sprite.png) no-repeat 0 -40px; background-size:125px 125px;}
/* 개인회원 Left메뉴 */
.mbrWing {display:none;position:absolute;top:0;z-index:111;width:90%;box-sizing:border-box;-webkit-transform:translateY(0);transform:translateY(0)}
.mbrWing .mbrInr {height:100%; background-color:#fff;}
.mbrWing a:before, .mbrWing a:after, .mbrWing .secInfo dd .add:before, .mbrWing .secInfo dd .add:after {content:""; display:inline-block; background:url(/content/images/m/gib/sp_left_menu.png) no-repeat;background-size:50px 250px;}
.mbrWing .secInfo {height:87px}
.mbrWing .secInfo .info {position:relative; padding:18px 15px;background-color:#002aff;}
.mbrWing .secInfo a.login {display:block; overflow:hidden; padding:0 15px; background-color:#002aff;}
.mbrWing .secInfo dl {margin-left:65px;}
.mbrWing .secInfo dd {color:#b8e5ff; margin-top:1px; line-height:1.4;}
.mbrWing .secInfo dd a {position:relative;}
.mbrWing .secInfo dd .add {position:relative; display:inline-block; padding-right:15px;}
.mbrWing .secInfo .name {font-size:1.5em; color:#fff; font-weight:bold;}
.mbrWing .secInfo .name a {padding-right:15px;}
.mbrWing .secInfo .name a:after, .mbrWing .secInfo .name .add:after {content:""; position:absolute; top:5px; right:0; width:8px; height:14px; background-position:100% -25px;}
.mbrWing .secInfo .photo {position:absolute; left:15px; top:16px; overflow:hidden; width:52px; height:52px; border-radius:200px;}
.mbrWing .secInfo .photo a {display:block;}
.mbrWing .secInfo .photo img {border-radius:200px;}
.mbrWing .secInfo dd:last-child a {padding-right:15px;}
.mbrWing .secInfo dd:last-child a:after {content:""; position:absolute; top:2px; right:0; width:8px; height:14px; background-position:0 -25px;}
.mbrWing .secSrv {padding:0 10px 0 10px;background:#fff;box-sizing:border-box;position:absolute;top:87px;bottom:154px;left:0;right:0}
.mbrWing .bot_duo{position:absolute;bottom:0;left:0;width:100%}
.mbrWing .secSrv #list_scroll{position:absolute;top:0;left:0;bottom:0;width:100%;overflow:hidden;padding:0 10px;box-sizing:border-box}
.mbrWing .secSrv ul li {border-bottom:1px solid #e9e9e9;}
.mbrWing .secSrv ul li a {position:relative; display:block; font-size:1.071em; color:#333; height:33px; padding:16px 0 0 5px;}
.mbrWing .secSrv ul li a:after {content:""; position:absolute; top:16px; right:5px; width:8px; height:14px; background-position:100% -43px;}
.mbrWing .secSrv ul ul {padding:6px 0 4px 0; border-top:1px solid #e9e9e9; background-color:#f4f4f4;}
.mbrWing .secSrv ul ul li {position:relative; padding:7px 10px 8px 20px; border-bottom:none;font-size:1em;color:#666}
.mbrWing .secSrv ul ul li:before {content:""; position:absolute; left:10px; top:12px; width:3px; height:3px; background-color:#dbdbdb;}
.mbrWing .secSrv ul ul li a {font-size:0.86em; color:#666; height:auto; padding:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.mbrWing .secSrv ul ul li a em {color:#002aff;}
.mbrWing .secApp {background-color:#f5f5f5; padding:10px 10px;}
.mbrWing .secApp h1.hd {font-size:0.86em; color:#333; font-weight:normal; padding:0 0 7px 5px; border-bottom:1px solid #e9e9e9;}
.mbrWing .secApp ul {overflow:hidden;}
.mbrWing .secApp ul li {float:left; width:25%; text-align:center;}
.mbrWing .secApp ul li a {position:relative; display:block; font-size:0.79em; color:#999; padding-top:52px;}
.mbrWing .secApp ul li a:before {content:""; position:absolute; left:50%; top:10px; width:36px; height:36px; margin-left:-17px;}
.mbrWing .secApp ul li.jk a:before {background-position:0 -62px;}
.mbrWing .secApp ul li.am a:before {background-position:0 -98px;}
.mbrWing .secApp ul li.yc a:before {width:48px; background-position:0 -134px;}
.mbrWing .secApp ul li.gj a:before {background-position:0 -170px;}
.mbrWing .secApp.case ul li {width:33.33%;}
.mbrWing .secNav {border-top:2px solid #e9e9e9; background-color:#fff;}
.mbrWing .secNav ul {overflow:hidden;}
.mbrWing .secNav ul li {float:left; font-size:0.93em; width:33.3%; margin:12px 0; border-left:1px solid #e9e9e9; text-align:center; box-sizing:border-box;}
.mbrWing .secNav ul li a {display:block; width:100%;}
/* 상단 탭 */
.navTab {overflow:hidden; position:relative; z-index:0; position:relative; background:#3399ff; padding-top:1px;}
.navTab:after {content:""; display:block; height:1px; padding:0 10px; background-color:#5cadff; position:absolute; left:0; top:1px; width:100%; box-sizing:border-box; background-clip:content-box}
.navTab > li {float:left; width:25%; background-color:#3399ff;}
.navTab a {display:block; position:relative; text-align:center; color:#fff; font-size:1em; height:42px; font-weight:bold; display:-webkit-box; display:-webkit-flex; display:flex; -webkit-box-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -webkit-align-items:center; align-items:center; box-sizing:border-box; padding-top:3px; opacity:.4;}
.navTab a.on {opacity:1;}
/* 하단 베너 */
#ban {height:55px;}
/* 공고뷰 레이어 */
#wrap .dim {position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); z-index:6;}
.container .lyer .close{position:absolute;top:10px;right:10px;width:25px;height:25px; background:url(/content/images/m/gib/bg_all_co.png) no-repeat7px -159px; text-indent:-9999px;background-size:50px 1500px;}
.container .lyWrap .lyScrap { position:fixed; top:50%; left:50%; box-sizing:border-box; width:142px; height:142px; margin:-71px 0 0 -71px; padding-top:23px; border-radius:50%; background-color:#f60; text-align:center; color:#fff; z-index:120;font-size:1em;}
.container .lyWrap .lyScrap i {display:block; margin-bottom:3px;}
.container .lyWrap .lyScrap strong {font-size:1.143em;}
.container .lyWrap .lyFavorite {display:none; position:fixed; top:50%; left:50%; box-sizing:border-box; width:142px; height:142px; margin:-71px 0 0 -71px; padding-top:23px; font-size:1em;border-radius:50%; background-color:#fe7fac; text-align:center; color:#fff; z-index:120;}
.container .lyWrap .lyFavorite i {display:block; margin-bottom:3px;}
.container .lyWrap .lyFavorite strong {font-size:1.143em;}
/* 스마트검색 결과 하단*/
.matchLink {margin:13px 10px 0 10px; background:#f1f2f5 url(https://i.jobkorea.kr/content/images/m/ver_1/sm/bg_match_link.png) no-repeat right bottom; background-size:129px 103px;}
.matchLink a {display:block; padding:20px 20px;}
.matchLink a .tx {display:block; font-size:0.79em;}
.matchLink a .tx strong {font-size:1.071em; color:#333;}
.matchLink .bt {position:relative; font-size:0.786em; color:#fff; font-weight:normal; height:25px; padding:1px 20px 0 13px; text-align:left; margin-top:12px; background-color:#ff7575; -webkit-box-pack:center; display:-webkit-inline-box; -webkit-box-align:center; overflow:hidden;}
.matchLink .bt:before,
.matchLink .bt:after {left:88%; top:13px; border:solid transparent; content:""; height:0; width:0; position:absolute; pointer-events:none; background-clip:padding-box;}
.matchLink .bt:before {border-color:rgba(112, 112, 112, 0); border-left-color:#fff; border-width:4px; margin-top:-4px;}
.matchLink .bt:after {border-color:rgba(255, 255, 255, 0); border-left-color:#ff7575; border-width:3px; margin-top:-3px;}
/* 통합검색일경우 */
.searchPage .matchLink {margin:5px 0 0 0; border:1px solid #dfe2e6;}
/* 퀵모바일지원 - 개편 전 영역(개편필요) */
#quickApy {position:absolute; width:100%; margin:0 auto; z-index:10000;}
#quickApy fieldset {min-width:0;}
#quickApy .layer {position:relative; border:3px solid #3399ff; background:#fff; margin:0 15px;}
#quickApy .layer select {background-position:100% 0;}
#quickApy .layer .layTit {font-size:1.3em; font-weight:bold; color:#000; padding:21px 10px 10px 49px; border-bottom:1px solid #3399ff;}
#quickApy .layer .layCnt {padding:10px 15px;}
#quickApy .layer .close {position:absolute; top:5px; right:0; width:40px; height:40px; background:url(https://i.jobkorea.kr/content/images/m/ver_1/bg_quickapply.png) no-repeat 11px -70px; background-size:55px 100px; text-indent:-9999px;}
#quickApy .icnQuick {position:absolute; top:2px; left:5px; display:inline-block; width:50px; height:38px; background:url(https://i.jobkorea.kr/content/images/m/ver_1/bg_quickapply.png) no-repeat 0 0; background-size:55px 100px; text-indent:-9999px;}
#quickApy .hdCo {color:#699af7; padding:5px 0 5px 0; font:bold 1.14em;}
#quickApy .bt {position:relative; overflow:hidden; display:inline-block; font-weight:bold; border-radius:2px; text-align:center; -webkit-box-sizing:border-box; -webkit-box-align:center;}
#quickApy .bt span {display:inline-block; color:#002aff; padding-top:0.4em;}
#quickApy .resuemList {border:1px solid #e4e4e4; border-radius:2px; margin-top:10px;}
#quickApy .resuemList dd {position:relative; padding:10px 60px 10px 35px; border-top:1px solid #e4e4e4;}
#quickApy .resuemList dd .ipCustomUI {position:absolute; left:10px; top:18px;}
#quickApy .resuemList .sel {padding:10px; background-color:#f4f4f4;}
#quickApy .resuemList .day {display:block; font-size:0.79em; color:#888; margin-bottom:4px;}
#quickApy .resuemList .tit {width:100%; font-size:0.93em; color:#000; overflow:hidden; display:block; text-overflow:ellipsis; white-space:nowrap; font-weight:normal;}
#quickApy .resuemList .tit strong {color:#002aff; font-weight:normal;}
#quickApy .resuemList .basic {padding:30px 0; text-align:center; background-color:#f4f4f4; font-size:1.07em}
#quickApy .resuemList a.bt {-webkit-box-pack:center; display:-webkit-inline-box;}
#quickApy .resuemList .bt12 {position:absolute; top:12px; right:10px; font-size:1em; height:30px; padding:0 10px; border:1px solid #002aff; background:#fff;}
#quickApy .btnApy {margin:15px 0;}
#quickApy .btnApy .bt2 {width:100%; height:47px; font-size:1.3em; -webkit-box-pack:center; display:-webkit-inline-box;}
#quickApy .btnApy .btC2 {border-color:#ff6600; background:#ff6600;}
#quickApy .btnApy .btC2 span {color:#fff; padding-top:0.2em;}
#quickApy .elsApy {position:relative; border-top:1px solid #e4e4e4; padding-top:10px; color:#333;}
#quickApy .elsApy span {font-size:0.79em; display:inline-block; padding-right:90px;}
#quickApy .elsApy a {position:absolute; right:0; top:11px; font-size:0.79em; text-decoration:underline; color:#3399ff; padding-right:10px; background:url(https://i.jobkorea.kr/content/images/m/ver_1/bg_quickapply.png) no-repeat 100% -53px; background-size:55px 100px;}
#quickApy .lyWrap .lyApy {display:block; position:fixed; top:50%; left:50%; box-sizing:border-box; width:142px; height:142px; margin:-71px 0 0 -71px; padding-top:23px; border-radius:50%; background-color:#002aff; text-align:center; color:#fff; z-index:10000;}
#quickApy .lyWrap .lyApy i {display:block; margin-bottom:3px;}
#quickApy .lyWrap_1 .lyApy {display:block; margin:16px auto 10px auto; box-sizing:border-box; width:142px; height:142px; padding-top:23px; border-radius:50%; background-color:#002aff; text-align:center; color:#fff; z-index:7;}
#quickApy .lyWrap_1 .lyApy .ico {overflow:hidden; display:inline-block; width:63px; height:62px; vertical-align:middle; background:url(https://i.jobkorea.kr/content/images/m/ver_1/bg_apply_event.png) no-repeat 0 -100px; background-size:150px 200px; text-indent:-9999px;}
#quickApy .lyWrap_1 .lyApy .txt1 {display:block; margin-top:10px;}
/* 사진 등록/수정 layer */
#quickApy .lyPhoto .layTit {padding:10px 15px;}
#quickApy .lyPhoto .layCnt {padding:15px}
#quickApy .lyPhoto .close {top:0;}
#quickApy .layCnt .btn_lyEnd{display:inline-block;height:40px;font-size:1.143em;text-align:center;background:#fff;color:#3e4045;font-weight:bold;border:1px solid #d2d6dc;padding:0 10px;width:100%}
#quickApy .layCnt p{margin-bottom:0}
#quickApy .layCnt p:first-child{margin-bottom:16px}
#quickApy .layCntOk {padding:0;}
#quickApy .layCntOk .hd {font-size:1.4em; color:#000; font-weight:bold; text-align:center; padding:0 0 14px 0;}
#quickApy .layCntOk .titTarget {font-size:1.07em; border-bottom:1px solid #ccc; padding-top:10px; padding-bottom:8px;border-top:3px solid #002aff;}
/* footer*/
.navB {overflow:hidden; border-top:1px solid #b5bdc1; border-bottom:1px solid #e0e1e1;}
.navB > li {float:left; width:25%; margin:0;}
.navB a {color:#666; display:block; border-left:1px solid #e0e1e1; text-align:center; padding:12px 0 10px 0; }
.navB > li:first-child a {border-left:0;}
.actPrevTop {position:relative; width:100%; height:auto; padding:0 10px; box-sizing:border-box; z-index:10;}
.actPrevTop .btn {position:fixed; bottom:15px; display: inline-block; width:44px;height:43px; background:url("/content/images/m/ver_2/common/btn_prev_top.png") no-repeat; background-size:88px 43px; vertical-align:middle;}
.actPrevTop .btnPrev {left:15px; background-position:0 0;}
.actPrevTop .btnPrev.is-floating-snackbar {bottom:70px;}
.actPrevTop .btnTop {right:15px; background-position:-44px 0;}
.actPrevTop .btnTop.is-floating-snackbar,
.actPrevTop .btnTop.is-floating-menu {bottom:70px;}
.actPrevTop .btnTop.enabled {display:block;}
.actPrevTop .btnTop.disabled {display:none;}
footer {text-align:center; color:#999;background:#e9ecef;}
footer .link {font-size:0.857em; padding:25px 0 0 0;}
footer .link a {color:#888; }
footer .link a + a:before {content:""; display:inline-block; width:1px; height:10px; background:#d7d7d7; margin:-2px 10px 0 8px; vertical-align:middle;}
footer .link span {color:#ccc; margin:0 3px;}
footer .link-bottom {font-size:0.857em; padding:10px 0 0 0;}
footer .link-bottom a {color:#888; }
footer .link-bottom a + a:before {content:""; display:inline-block; width:1px; height:10px; background:#d7d7d7; margin:-2px 10px 0 8px; vertical-align:middle;}
footer .link-bottom span {color:#ccc; margin:0 3px;}
footer .footInfo {margin-top:8px;}
footer .footInfo dt {padding-bottom:38px;}
footer .footInfo dt button {font-size:0.929em; color:#888; margin-top:10px}
footer .footInfo dt button:after {content:""; width:8px; height:5px; margin-left:4px; display:inline-block; position:relative; vertical-align:middle; top:-1px; background:url('/content/images/m/ttChat.png') no-repeat -34px -10px; background-size:300px 300px; margin-right:4px;}
footer .footInfo dt.on button:after {background-position:-34px -25px;}
footer .footInfo dd {font-size:0.786em; margin:-27px 11px 0 11px; padding-bottom:11px;}
footer .infoWrap {display:block; padding:6px 0 17px 22px; background-color:#dee0e3; text-align:left;}
footer .infoWrap p, footer .infoWrap address {padding-top:7px;}
footer .infoWrap .business-button {display: inline-block; vertical-align: middle; width: 84px; height: 17px; border: 1px solid #ccc; box-sizing: border-box; text-align: center; background: #e9ecef; line-height: 17px;font-size: 10px; color: #999;margin-top: -3px; margin-left: 5px;}
p.copyright-text{ color: transparent; text-align: center; background-color: transparent; }
.footerApp {padding-bottom:80px !important;}
app footer
